APP_NAME="Banco de Choices"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://bancodechoices.com
SITE_URL=https://bancodechoices.com

APP_LOCALE=es_AR
APP_FALLBACK_LOCALE=en

LOG_LEVEL=error

DB_CONNECTION=mysql
DB_HOST=localhost
DB_DATABASE=SUBSTITUIR_NOME_BD
DB_USERNAME=SUBSTITUIR_USER_BD
DB_PASSWORD=SUBSTITUIR_SENHA_BD

SESSION_DRIVER=database
SESSION_SECURE_COOKIE=true
QUEUE_CONNECTION=database
CACHE_STORE=database
TRUSTED_PROXIES=*

MP_ACCESS_TOKEN=
MP_PUBLIC_KEY=
MP_CURRENCY_ID=ARS
MP_WEBHOOK_SECRET=

MAIL_MAILER=smtp
MAIL_HOST=mail.bancodechoices.com
MAIL_PORT=587
MAIL_USERNAME=contato@bancodechoices.com
MAIL_PASSWORD=SUBSTITUIR_SENHA_EMAIL
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS="contato@bancodechoices.com"
MAIL_FROM_NAME="${APP_NAME}"
